{% extends 'layout_back.html.twig' %}

{% block title %}G Blog | Editar información{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="d-inline">Editar información</h1> <a class="btn btn-sm btn-outline-dark float-right" href="{{ path('profile', {'id': user.id}) }}">Volver</a>

        {{ include('blog_back/user/_form.html.twig', {'button_label': 'Actualizar', 'button_class': 'primary'}) }}
    </div>
{% endblock %}