{% extends 'layout_front.html.twig' %}

{% block seo %}
    <meta name="description" content="G Blog">
    <meta name="keywords" content="g,blog">
{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="jumbotron bg-light">
            <h1 class="display-4">G Blog</h1>
            <p class="lead">Este es un blog de prueba | <small class="badge badge-secondary">Basando en Symfony 4</small></p>
            <hr class="my-4">
            <p>Combinando jQuery, Boostrap 4 e integrando Webpack Encore para el manejo de assets y demás librerías.</p>
            <a class="btn btn-info btn-lg" href="https://github.com/jormanespinoza/blogForG" role="button" target="blank">Repositorio de Github</a>
        </div>

        <hr class="my-4">

        <div class="row posts">
            {% for post in posts %}
                <div class="col-sm-6">
                    <a href="{{ path('post', {'url': post.url}) }}">
                        {{ post.title|capitalize }}
                    </a>
                </div>
            {% endfor %}
        </div>
     </div>
{% endblock %}