{% extends 'layout_back.html.twig' %}

{% block title %}G Blog | Editar publicación #{{ post.id }}{% endblock %}

{% block body %}
    <h1>Editar publicación</h1>

    {{ include('blog_back/post/_form.html.twig', {'button_label': 'Actualizar', 'button_class': 'primary'}) }}
{% endblock %}