.container--back {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 56px);
}

a.copyrights:hover {
    color: #fff !important;
    text-decoration: none;
}

.user-profile-image {
    height: 25px;
    margin-right: 5px;
}

.user-profile-image--md {
    height: 50px;
}

/* Cropper */
.cropper img {
    width: 100%;
    max-width: 100%;
    display: block;
}

/* Post main image */
.post-main-image {
    max-width: 150px;
}

.comment-user-image {
    max-width: 70px;
}

@media (max-width: 767px) {
    img.post-main-image {
        max-width: 100px;
    }
}