<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block SEO %}{% endblock %}
    <title>{% block title %}G Blog{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>